<html>

<head>
  <link rel="stylesheet" href="/css/blogcss.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <nav class="navbar navbar-expand-lg bg-primary navbar-light">
    <div class="container mt-1">
      <h2 class="text-white">QUIZZY</h2>
      <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapsenavbar">
        <span class="navbar-toggler-icon "></span>
      </button>
  
      <div class="collapse navbar-collapse text-center" id="collapsenavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item px-2">
            <a href="/home" class="nav-link text-white"> HOME </a>
          </li>
          <li class="nav-item px-2">
            <a href="/all" class="nav-link text-white"> ALL QUIZZES </a>
          </li>
          <li class="nav-item px-2">
            <a href="/addquiz" class="nav-link text-white"> ADD QUIZ </a>
          </li>
          <li class="nav-item px-2">
            <a href="/hosted" class="nav-link text-white"> MY HOSTED </a>
          </li>
          <li class="nav-item px-2">
            <a href="/profile" class="nav-link text-white"> PROFILE </a>
          </li>
          <li class="nav-item px-2">
            <a href="/logout" class="nav-link text-white"> LOGOUT </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <section class="pt-5 justify-content-center position-relative">
    <div class="container pt-4">
      <div class="row justify-content-center">

        <% quizes.forEach(quiz=> { %>
          <div class="card bg-warning bg-gradient align-item-center" style="height: 300px;">
            <div class="purple-gradient color-block mb-3 z-depth-1">

              <div class="card-body h-300 mt-3">
                <p class="h3 d-flex justify-content-center">
                  <%= quiz.title %>
                </p><br>
                <p class="h5 d-flex justify-content-center text-white">
                  <%= quiz.marks %> Marks<br /><br />
                    Duaration: <%= quiz.duration %> Minutes
                </p><br>
                
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-primary mt-2 ml-2"><a href="/quiz/<%= quiz._id %>" class="text-light">START</a></button>
                  </div>
                </div>

                
              </div>
            </div>
          
          <% }) %>
      </div>
    </div>
  </section>

</body>

</html>
